/* Step 1 Animate the logo with keyframes.  (Here is a keyframes reference.) It should start at a width of 25px and grow to 475px.  It should also start with an opacity of 0 and end with an opacity of 1. The animation should take 5 seconds and only happen when the page is loaded. */
/*Setup animation*/
@keyframes logoAnimation {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}
/*Put animation on logo*/
#logo {
    animation: logoAnimation 5s ease-in-out;
}

/* Step 2 Edit the body element to use the Poppins font (using Google fonts) with serif as a backup.  It should also use the image “concrete_seamless.png” as a background-image with a backup color of #f1f1f1.*/
body {
    /* Add fonts */
    font-family: 'Poppins', serif;
    /* Add image and background color */
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}
  
/* Step 3: Make header use flex display */
header {
    display: flex;
    /* Match example with column for mobile */
    flex-direction: column;
    align-items: center;
}
  
/* Step 4: Make nav_links use flex display */
.nav_links {
    display: flex;
    /* Match example */
    flex-direction: column;
    align-items: center;
}
  
/* Step 5: Keep link color after being visited */
a:visited {
    color: inherit;
}
  
/* Step 6: Style direct child headers of .card  */
.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
}
/* Second selector for border */
.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    /* Remove bottom */
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Step 7: Set card class initial size using flex and have it stay that size */
.card {
    flex: 0 0 450px;
}
  
/* Step 8: Center pricing cards vertically and horizontally  */
.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
/* Step 9: Style gallery images with the style from instructions */
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}
  
/* Step 10: Make gallery use flex like in the images */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Media Query for sizes >900px */

@media screen and (min-width: 900px) {
    /* Step 11: Change header and nav_links with flex to look like images */
    header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .nav_links {
      flex-direction: row;
    }
  
    /* Step 12: Change card sizes to look like image */
    .pricing {
      flex-direction: row;
      justify-content: center;
    }
  
    /* Specify size */
    .card {
      flex-basis: 275px;
    }
  
    /* Step 13: Make header sticky and only the first decentant of body */
    body > header {
      position: sticky;
      top: 0;
      background: white;
      z-index: 100;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
}
  
/* Media Query for reduced motion*/

@media (prefers-reduced-motion: reduce) {
    /* Step 14: No logo animation */
    #logo {
        animation: none;
        width: 475px;
        opacity: 1;
    }
}

/* Print Media (Portrait) */
@media print {
    /* Step 15 and 16: Change text and background */
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    /* Step 17: Make the nav links a row and space them out */
    .nav_links {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    /* Change the nav width to 100 too so that it properly spaces out */
    nav {
        width: 100%;
    }

    /* Step 18: Make pricing cards set at the bottom */
    .pricing {
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    /* Step 19: set border and basis and shtink to make sure it fits without overlap */
    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
        flex-shrink: 1;
    }

    /* Step 19: Make sure there is no gallery or title */
    .gallery, #gallery{
        display: none;
    }

    /* Step 20: Add thumbs up by adding content to HTML */
    .card li:nth-child(2)::after {
        content: "👍";
    }
}